<div class="about">
<h1>History of the Doberman</h1>
<h2> The greatest breed of all time</h2>

</div>
<p>Louis Dobermann, a German tax collector, created the Doberman Pinscher breed in 1870. It is believed the breed originated from the mix of cattle and shepherd dogs. In 1895, the dog was mixed with Manchester terrier and at the beginning of the 20th century, Greyhound bloodline was introduced. The Doberman at that time was not as finely chiseled and sleek as it is today. Today’s Doberman Pinscher is sleek, elegant dog, with a long head, flat skull and a long muzzle. The eyes are brown and almond shaped. The natural ear is set high and folds down. The cropped ear stands erect. The short, smooth coat is colored black/tan, red/tan, fawn or blue. Males stand at shoulder height between 26-28″ and weigh between 70-90 lbs. Females should stand at a height of 24-26″ and are between 50-70 lbs.</p>
